*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'poppins';

}
/*.nav_bar{
    display: flex;
}  */
.section1{
    margin: 0px;
    height: 100%;
    background: linear-gradient(100deg, white, #F6B400);
}
.order{
    width: 70px;
    height: 25px;
    margin: auto;
    padding: 10rem;
    
}

/* .logo_span{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
} */

#logo_span{
    display: inline;
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
}
#city{
    
}

#logo{
    padding-top: 10px;
}
#cart{
    display: flex;
    background-color: white;
}
/* .nav_bar{
    display: flex;
} */
.navigation{
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: white;
    float: right;
    overflow: hidden;
    /* padding: 10px; */
}
#cart{
    width: 30px;
    height: 30px;
    background-color: none;
}

.intro{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.intro >h3{
    display: inline;
    width: 130px;
    margin: 40px 20px 40px 20px;
}
.intro >p{
    width: 100px;
    margin: 30px 20px 40px 20px;
}
.intro >img{
    width: 50%;
    float: right;
    margin: auto;
    height: 100%;
}
.statements{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.statements >h3{
    padding: 20px;
}
.statements >p{
    padding: 20px;
}

button{
    display: block;
    width: 70px;
    background-color: white;
    height: 25px;
    margin: auto;
    padding: 0rem;
    border: none;
}

em{
    color: #F6B400;
}

.orderbtn{
    background-color: #F6B400;
    border: none;
    border-top-left-radius: 01em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
}

.services{
    background-color: lightcyan;
    height: 300px;
}
/* .services.quality {
    padding: 10px 12px 10px 12px;
    border-style: solid;
    border: thin;
    width: 15%;
    margin: auto;
    display: inline;
    border: goldenrod;
    font-style: italic;
    
} */
ul{
    display: inline;
    display: flex; 
    flex-direction: row;
    list-style: none;
    padding:25px;
}
ul li{
    border: solid;
    border-radius: 8px;
    border-width: thin;
    border-color: goldenrod;
    margin: 5px;
}
.quality{
    width: 130px;
    height: 130px;
    margin: auto 1px;
    padding: 5px;
}
.fast{
    width: 130px;
    height: auto;
    margin: auto 1px auto 2px;
    padding: 5px;
}
.delicious{
    width: 130px;
    height: 130px;
    margin: auto 1px;
    padding: 5px;
    justify-content: center;
}
.quality >p{
    text-align: center;
}
.highlights{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.mobile{
    background-color: rgb(252, 189, 30);
}
.footnotes{
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
    height: 20px;
    padding-top: 10px;
}
.footnotes .owner{
    justify-content: right;
}
.footnotes .icons{
    align-content: center;
}
.footnotes .copy{
    display: flex;
    float: left;

}


    /* float: left;
    row and column-gap: classes; */
