* {
    margin:5px;
    padding: 0px;
    text-decoration: none;
}

@media screen {
    
}
body {
    font-family: 'poppins';

}

.nav_bar{
    display: flex;
    flex-direction: row;
    width: 100%;
} 
.section1 {
    margin: 0px;
    height: 100%;
    background: linear-gradient(120deg, white 50%, #F6B400 50%);
    width: 100%;
}
.navigation{
    display: flex;
    float: right;
    width: 100%;
    text-decoration: none;
}
.navigation li{
    float: right;
    height: 30px;
    width: 70px;
    padding: 15px 0;
    margin: 20px 0;
    border: none;
    list-style-type: none;
}

.order {
    width: 70px;
    height: 25px;
    margin: auto;
    padding: 10rem;

}

#logo_span {
    display: flex;
    vertical-align: middle;
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
}
#logo_span h4{
    margin: 20px 0;
    padding: 15px 0;
}

/* #city {} */

#logo {
    padding-top: 2px;

}

#cart {
   width: 50px;
    float: right;
    display: inline;
}
/* .navigation button{
    width: 8rem;
} */

/* .nav_bar{
    display: flex;
} */
/* .navigation {
    display: flex;
    flex-direction: row;
    margin: 0px;
    float: right;
    background-color: none;
    overflow: hidden;
    padding: 10px;
} */

/* End of section1 styling */
#cart {
    width: 30px;
    height: 30px;
    background-color: none;
}

.intro {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.intro>h3 {
    display: inline;
    width: 130px;
    margin: 40px 20px 40px 20px;
}

.intro>p {
    width: 100px;
    margin: 30px 20px 40px 20px;
}

.intro>img {
    width: auto;
    float: right;
    margin: auto;
    height: 300px;
}

.statements {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.statements>h3 {
    padding: 20px;
}

.statements>p {
    padding: 20px;
}

button {
    display: block;
    width: 70px;
    background-color: white;
    height: 25px;
    margin: auto;
    padding: 0rem;
    border: none;
}

em {
    color: #F6B400;
}

.orderbtn {
    background-color: #F6B400;
    border: none;
    border-top-left-radius: 01em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    /* float: left; */
}

.services {
    background-color: lightcyan;
    height: 300px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px;
}

/* .services .quality {
    padding: 10px 12px 10px 12px;
    border-style: solid;
    border: thin;
    /* width: 50%;
    margin: auto;
    display: inline;
    /* border: goldenrod; */
/* font-style: italic; */

ul li {
    border: solid;
    border-radius: 8px;
    border-width: thin;
    border-color: goldenrod;
    margin: 5px;
    width: 50%;
    text-align: center;
}

ul li img {
    width: 20px;
    height: 20px;
}

.quality {
    height: 130px;
    margin: auto 1px;
    padding: 5px;
}

.fast {
    height: 150px;
    margin: auto 1px auto 2px;
    padding: 5px;
}

.delicious {
    height: 130px;
    margin: auto 1px;
    padding: 5px;
    justify-content: center;
}

.quality>p {
    text-align: center;
}

.highlights {
    display: flex;
    flex-direction: column;
    width: auto;
    align-content: center;
    background-color: white;
}

.highlights h3 {
    text-align: center;
    display: block;
}

.highlights img {
    width: 50px;
    width: 150px;
}

.display {
    width: 100%;
    height: 40rem;
    padding: 20px;
    background-color: whitesmoke;

}
.lower_disp{
    display: flex;
    flex-direction: row;
}

.disp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 0px 30px;

}

.disp p{
    margin: 50px 0;
    
}
.display h2{
    display: block;
    text-align: center;
    
}

.doubles img{
    width: auto;
    height: 200px;
    float: left;
    position: absolute;
}
.row1,
.row2 {
    display: flex;
    flex-direction: row;
}

.row1>div {
    text-align: center;
    border: solid lightgray;
    border-radius: 1em;
    border-width: thin;
    box-shadow: gainsboro;
    /* border: thin lightgray; */
    /* border-radius: 2em; */
    margin: 05px;
}

.row2>div {
    text-align: center;
    border: solid lightgray;
    border-radius: 1em;
    border-width: thin;
    margin: 5px;

}

.mobile {
    background-color: rgb(252, 189, 30);
    margin: 0px;
    height: 400px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.phone{
    display: flex;
    flex-direction: row;
    width: auto;
}
.phone img{
    width: auto;
    height: 40px;
    margin-top: 100px;
}
.mobile h3{
    width: 70%;
}
.map{
    height: 250px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.mappings{
    display: flex;
    flex-direction: column;
}
/* .map a:link{
    link
} */
.footnotes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    padding-top: 10px;
}

.footnotes .owner {
    justify-content: right;
}

.footnotes .icons {
    align-content: center;
}

.footnotes .copy {
    display: flex;
    float: left;

}


/* float: left;
    row and column-gap: classes; */